.aboutContainer {
  background-color: rgba(102, 51, 153, 0);
  margin: 2% 22% 12% 22%;
  font-family: sans-serif;
}
.aboutTitleNumber {
  color: #64ffda;
  font-family: monospace;
}
.aboutTitleText {
  color: #ccd6f6;
}
.aboutTitle > .aboutLine {
  padding-left: 1rem;
  color: #8892b04b;
  font-family: monospace;
}
.aboutGrid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
}
.aboutContent {
  margin-top: 2rem;
  line-height: 1.5rem;
}
.aboutPara {
  display: block;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #8892b0;
}
.aboutPhoto {
  /* background-color: brown; */
  position: relative;
}
.myimage {
  margin: 2rem 2rem 0 2rem;

  height: auto;
  width: 250px;

  transition: all 0.3s ease-in-out;
  /* height: auto;
  width: 100%; */
}
.afterSquare {
  position: absolute;
  top: 10%;
  left: 18%;
  height: 250px;
  width: 250px;
  border: 2px solid #64ffda;
  z-index: -1;
}
.myimage:hover {
  transform: translateY(-4px);
  content: url("../../public/compress3.jpg");
}
.skillLi::before {
  content: "▹";
  padding-right: 1rem;
  color: #64ffda;
}
.skillLi {
  color: #8892b0;
  margin-right: 2rem;
}
.aboutSkillul {
  width: fit-content;
  padding: 0;

  display: grid;
  gap: 0.2rem;
  grid-template-columns: 2fr 2fr;

  list-style: none;
}
grid-item:nth-child(2) {
  border: 2px dashed red;
}
@media only screen and (max-width: 900px) {
  .aboutContainer {
    margin: 14% 5% 20% 5%;
    user-select: none;
  }
  .aboutGrid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .aboutContainer {
    margin: 14% 5% 20% 5%;
    user-select: none;
  }
  .aboutTitle {
    white-space: nowrap;
    overflow: hidden;
  }
  .aboutGrid {
    grid-template-columns: 1fr;
  }
  .myimage {
    height: 220px;
    width: 220px;
  }
  .aboutTitle {
    font-size: large;
  }
  .aboutPhoto {
    z-index: 1;
  }
  .afterSquare {
    position: absolute;
    left: 17%;
    top: 17%;
    height: 220px;
    width: 220px;
    border: 2px solid #64ffda;
    z-index: -1;
  }
}
