.heroSection {
  background-color: rgba(109, 14, 204, 0);
  padding-left: 10%;
  margin: 0 7% 0 7%;
  height: 90vh;
  margin-bottom: 2rem;
}
.herotext {
  padding-top: 10%;
  font-family: sans-serif;
  line-height: 2.3rem;
}
.herotext p {
  color: #64ffda;
  font-family: monospace;
  font-size: x-large;
}
.aboutTitle p{
  display: inline;
}
.herotext .name {
  cursor: pointer;
  color: #ccd6f6;
  font-family: inherit;
  font-size: 4.5rem;
}
.herotext .built {
  color: #e0e2ea;
  font-family: inherit;
  font-size: 4.5rem;
}
.herotext .desc {
  margin-top: 4rem;
  font-weight: lighter;
  line-height: 1.8rem;
  color: #8892b0;
  width: 60%;
  font-size: 1.3rem;
}
.gitbutton {
  font-family: monospace;
  background-color: #0a192f;
  word-spacing: 2px;
  font-size: 0.9rem;
  color: #64ffda;
  padding: 1.3rem;
  border: 1px solid #64ffda;
  font-weight: bold;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}
.gitbutton:hover {
  background-color: #64ffdb1f;
}
/* .lnk {
  position: absolute;
  z-index: 900;
}
.lnk ul {
  position: fixed;
  text-decoration: none;
  color: blue;
  background-color: red;
} */
@media only screen and (max-width: 768px) {
  .herotext {
    line-height: 2.9rem;
  }
  .heroSection {
    background-color: rgba(102, 51, 153, 0);
    user-select: none;
    height: fit-content;
    padding: 5%;
  }
  .herotext .name {
    font-size: 2rem;
    width: max-content;
  }
  .herotext .built {
    font-size: 1.8rem;
   white-space: nowrap;
  }
  .herotext .desc {
    font-size: 1rem;
    width: 90%;
  }
  .gitbutton {
    font-size: medium;
    padding: 0.8rem;
  }
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #ffffff44,
    0 0 10px #ffffff41,
    0 0 21px #ffffff52,
    0 0 42px rgba(0, 255, 170, 0.155),
    0 0 82px rgba(0, 255, 170, 0.318),
    0 0 92px rgba(0, 255, 170, 0.251),
    0 0 102px rgba(0, 255, 170, 0.266),
    0 0 151px rgba(0, 255, 170, 0.27);
}