input,
textarea,
button {
  font-family: inherit;
}

.nav {
  z-index: 10 !important;
  width: 100%;
  font-size: 1em;
  position: fixed;
  top: 0;
  background-color: #0a192fa0;
  backdrop-filter: blur(5px);
  padding-top: 1.5rem;
}

.resumebutton {
  background-color: #0a192f;
  font-size: 1.2em;
  font-weight: bold;
  color: #64ffda;
  padding: 0.7rem;
  border: 1px solid #64ffda;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.resumebutton:hover {
  background-color: #64ffdb1f;
}

.nav img {
  width: auto;
  height: 5rem;
  padding-left: 3rem;
}

.nav ul {
  display: inline;
  float: right;
  padding-right: 3rem;
}

.nav ul li {
  display: inline;
  list-style: none;
  padding: 1.2rem;
}

.nav ul li a {
  text-decoration: none;
  color: #ccd6f6;
  transition: all 0.3s ease-in-out;
}

.nav ul li a p {
  color: #64ffda;
  display: inline;
}

.nav ul li a:hover {
  color: #64ffda;
}

.hamburger {
  z-index: 11;
  position: fixed;
  top: 0;
  margin-top: 2.1rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 3rem;
}

.hamburger>span {
  height: 4px;
  width: 25px;
  border-radius: 2px;
  margin: 0.1rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: #64ffda;
}

@keyframes activeanim {
  0% {}
}

.hamMenu {
  font-size: large;
  background-color: #0a192fb8;
  backdrop-filter: blur(5px);

  backdrop-filter: blur(12px);
  width: auto;
  transform: translateX(110%);
  position: fixed;
  top: 6rem;
  right: 0;
  transition: all 0.5s ease-in-out;
  height: 100vh;
  box-shadow: 10px 8px 10px #888888;
}

.hamMenu ul {
  display: inline;
  list-style: none;
  float: right;
}

.hamMenu ul li {
  padding: 2rem;
}

.hamMenu ul li a {
  color: #ccd6f6;
  transition: all 0.3s ease-in-out;
}

.hamMenu ul li a p {
  color: #64ffda;
}

.hamMenu ul li a:hover {
  color: #64ffda;
}

a {
  text-decoration: none;
}

.hamMenu p {
  display: inline;
}

@media screen and (max-width: 900px) {
  .nav ul {
    display: none;
  }

  .nav img {
    width: 3rem;
    height: 3rem;
    padding-left: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .hamburger span {
    display: none;
  }

  .hamMenu {
    transform: translateX(100%) !important;
  }
}