.cardArea {
  background-color: rgba(102, 51, 153, 0);
  margin: 0 14% 0 14%;
}
.cardArea * {
  /* font-family: sans-serif; */
  font-family: monospace;
}
.cah1 {
  margin-bottom: 0;
  text-align: center;
}
.cardAreaTitle {
  font-size: x-large;
  color: #ccd6f6;
}
.cardAreaSubTitle {
  font-size: large;
  color: #64ffda;
  margin-bottom: 2rem;
}
.cardAreaInfo {
  color: #64ffda;
  font-weight: normal;
  font-size: medium;
}
.cards {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}
.showMoreButt {
  all: unset;
  background-color: #0a192f;
  font-size: 1rem;
  color: #64ffda;
  padding: 0.7rem;
  border: 1px solid #64ffda;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
}
.showMoreButt:hover {
  background-color: #64ffdb1f;
}
.showMoreButtonArea {
  margin: 5% 0 15% 0;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .cardArea {
    margin: 0 14% 0 14%;
  }
  .cards {
    grid-template-columns: 1fr;
    padding: 0.5rem;
    gap: 1rem;
  }
}

@media only screen and (max-width: 658px) {
  .cardArea {
    margin: 0 5% 0 5%;
  }
  .cards {
    grid-template-columns: 1fr !important;
    padding: 0;
  }
}
